@import './variables';
@import './imports';
@import './highlight';

$tclr: #ECFBD8;
$tclr: #fff8e6;
$tclr: #e4e7ea;

$tbgclr: #515b65;

$blueclr: #00A2F8;
$b_color: #79d0ff;
$bshadow: 0 0 0 0.2rem rgba(0,162,248,.25);

$page_bg: #1F2227; // More like JSFiddle
$page_bg: #3A4149; // Dashboard

$placeholder: #ACB4BC;

* {
	box-sizing: border-box;
}

body {
	background-color: $page_bg;
	font-family: $roboto;
	color: $tclr;
	-webkit-font-smoothing: antialiased;
	font-size: 1.2rem;
}

.container {
	display: flex;
	flex-direction: column;
	//gap: 20px;
}

.codeinfo {
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	//margin: 0 auto;
}

h4 {
	font-size: 1.3125rem;
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2;
	margin-top: 0;
	display: block;
}

textarea {
	/* background-color: transparent; */
	background-color: $tbgclr;
	color: $tclr;
	border-radius: 4px;
	overflow: auto;
	overflow-wrap: break-word;
	height: auto;
	//visibility: hidden;
	//display: none;
	padding: .375rem .75rem;
	resize: vertical;
	border: 1px solid #23282c;
	font-family: $roboto;
	font-size: 1.1rem;
	/* outline:none; */
	&:focus {
		/* outline: white;
		outline-color: white;
		outline-offset: 0px;
		outline-color: $blueclr;
		border: none; 
		border-style: none; */
		border-color: $b_color;
		outline: 0;
		box-shadow: $bshadow;
	}
	&:placeholder {
		color: $placeholder;
	}
}

::-webkit-input-placeholder { /* Chrome */
	color: $placeholder;
  }

.info {
	list-style: none;
	//margin-top: .5rem;
	vertical-align: text-top;
}

ul, li{
    margin: 0px;
	padding: 0px;
	line-height: 2em;
}

.output {
	color: $tclr;
	white-space: pre-wrap;
	font-family: $roboto;
	margin-top: 100px;
	margin-right: -100px;
}

div {
	display: block;
}

button {
	margin-left: 7rem;
}