$tooltip-blurple: #5C6FB1;
$tooltip-dark: #18191C;
$tooltip-default: #286F8A;

$tooltip-blurple-darker: #4b5a8f;

$hover-grey: rgb(161, 159, 159);

.tooltip-c {
	position: relative;
	display: inline-block;
	//background: #286F8A;
	//padding: 0px 8px 5px 8px;
	//margin: -10px 0;
	cursor: pointer;
	&:hover .tooltip-container,
		&:focus .tooltip-container {
			visibility: visible;
			opacity: 1;
			transform: translate3d(0,0,0);
		}
	&:hover {
		//background-color: rgb(161, 159, 159);
		//border: 1px solid $hover-grey;
		outline: 1px solid $hover-grey;
	}
}

.tooltip-container {
	white-space: normal;
	z-index: 10;
	box-sizing: border-box;
	position: absolute;
	//bottom: 53px;
	//bottom: -131px;
	//bottom: -112px;
	bottom: -118px;
	//left: -85px;
	left: -5px;
	display: block;
	background: $tooltip-dark;
	width: 300px;
	font-size: 16px;
	line-height: 24px;
	cursor: text;
	visibility: hidden;
	opacity: 0;
	transform: translate3d(0,-20px,0);
	transition: all .5s ease-out;
	
	&:before { // line on arrow (Not sure what it does just yet)
		position: absolute;
		content: '';
		width: 100%;
		height: 14px;
		//bottom: -14px;
		//bottom: 133px;
		bottom: 108px;
		left: 0;
	}
				
	&:after { // Arrow
		position: absolute;
		content: '';
		width: 10px;
		height: 10px;
		transform: rotate(45deg);
		//bottom: -5px;
		//bottom: 128px;
//		bottom: 103px; // pre modification padding header from 8 to 10px
		bottom: 103px;
		//left: 50%;
		//margin-left: -5px;
		//margin-left: 2px;
		margin-left: 16px;
		//background: #286F8A;
		background-color: $tooltip-blurple;
	}
}

.tooltip-header {
	display: block;
	background: $tooltip-blurple;
	//color: 	$tooltip-dark;
	color: white;
	//padding: 8px 17px 10px 17px;
	padding: 10px 17px 9px 17px;
	line-height: 16px;
	& a {
		display: inline-block;
		transition: transform .3s ease-out;
	}
	& a:hover { // Header title link on hover
		text-decoration: none;
		//color: grey;
		color: white;
		//text-decoration-thickness: 1px;
		//text-shadow: 1px 1px $tooltip-dark;
		transform: translate(3px, 0px);
		//font-weight: bold;
	}
}

.tooltip-text {
	display: block;
	padding: 13px 17px;
	color: white;
}