/* Create the CSS variables you'll use across your project's SCSS (Sass) files here.
Variable creation example:
$myVariable: #eeaaee;
*/

$dark-bg: #171A1C;

$opensans: 'Open Sans', sans-serif;

$fsize: 20px;

