/* Create the CSS variables you'll use across your project's SCSS (Sass) files here.
Variable creation example:
$myVariable: #eeaaee;
*/

$roboto: 'Roboto', sans-serif;
$fira: 'Fira Mono', monospace;