@import './variables';
@import './imports';
@import './highlight';

$tclr: #ECFBD8;
$tclr: #fff8e6;
$tclr: #e4e7ea;

$tbgclr: #515b65;

$blueclr: #00A2F8;
$b_color: #79d0ff;
$bshadow: 0 0 0 0.2rem rgba(0,162,248,.25);

$page_bg: #1F2227; // More like JSFiddle
$page_bg: #3A4149; // Dashboard

$placeholder: #ACB4BC;

$border-clr: #23282C;

$scroll-bg: #1E1F1F;
$scroll-border: #292929;
$scroll-grey: #474747;

* {
	box-sizing: border-box;
	&::-webkit-scrollbar {
		width: 10px;
		
	}
	&::-webkit-scrollbar-thumb {
		background: $scroll-grey;
		border-radius: 10px;
		border: 1px solid $scroll-border;
		&:hover {
			background-color: $scroll-border;
		}
	}
}

body {
	font-family: $roboto;
	height: auto;
}

.navbar {
	margin-bottom: 1rem;
}

label {
	font-size: 22px;
	margin-bottom: 0.5rem;
}

.form-group {
	padding: 0.5rem;
}

.row {
	gap: 3rem;
}

.badge {
	margin-left: 0.5rem;
	//font-weight: normal;
}

.info {
	margin: 1rem auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.info-item {
	display: flex;
	gap: 0.3rem;
	align-self: auto;
}

.label {
	display:flex;
	justify-content: space-between;
	vertical-align: middle;
}

#btn-settings {
	display:none;
}

.form-control,.form-control:focus {
	resize: vertical;
	overflow: auto;
	background-color: $tbgclr;
	overflow-wrap: break-word;
	height: auto;
	min-height: 85px;
	&::placeholder {
		color: #ACB4BC;
	}

}

.output {
	background-color: $tbgclr;
	height: auto;
	white-space: pre-wrap;
	padding: 6px 12px;
	min-height: 85px;
	display: inline-table;
	width: 100%;
	// max-width: 472px;
}

footer {
	text-align: center;
	margin-top: 1.5rem;
}
a {
	color: inherit;
	&:hover {
		color: #3390ee;
	}
} 
